/* General */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Exa:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    cursor: default;
    overflow: scroll; 
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; 
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    color: #757F5D;
    background-color: #fff;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 10px;
    color: #757F5D;
    font-weight: 400;
    cursor: pointer;
    font-family: "Lexend Exa", sans-serif;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    min-height: 100vh;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#home {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

#home h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: #e7e6e6;
    font-family: "Instrument Serif", serif;
    font-size: 50px;
    font-weight:600;
    z-index: 90;
    mix-blend-mode: difference;
}

video {
    position: absolute;
    width: 80%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.cover{
    width: 60%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}


/* Reveal Animation */
.reveal {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.project-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.project {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
}

/* Projects Section */
.projects-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  #projects h1{
    font-family: "Instrument Serif", serif;
 }

 .process-container h1 {
    font-family: "Lexend Exa", sans-serif;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:3%; 
}

 #projects h2{
    font-size: 12px;
    cursor: pointer;
 }
  .project-box {
    width: 30%;
    padding: 25px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .project-box h2 {
    text-align: center;
    color: #000;
  }
  
  /* Dropdown content hidden by default */
  .dropdown-content {
    display: none;
    margin-top: 20px;
    color: #2c3121;;
  }
  
  .details {
    margin-top: 15px;
  }
  
  .item {
    margin-bottom: 15px;
  }
  
  .toggle-btn {
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  
  /* Show dropdown content when active */
  .project-box.active .dropdown-content {
    display: block;
  }
  
  .process-btn {
    margin-top: 20px;
    background-color: #525F34;
    color: #fff;
    border: none;
    padding: 10px;
    width: 30%;
    cursor: pointer;
    border-radius: 5px;
  }

  .back-btn {
    position: absolute;
    margin-top: 50px;
    background-color: transparent;
    color: #969f81;
    font-weight: 500;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    margin-left: 585px;
  }

/* Process pages*/
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 10px; 
}

.collapsible {
    max-width: 450px;
    overflow: hidden;
    font-weight: 500;
}

.collapsible input {
    display: none;
}

.collapsible label {
    position: relative;
    font-weight: 600;
    background: #525F34;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
}

.collapsible-text {
    height: 0;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
    padding: 0 15px; 
    margin-bottom: 10px; 
}

.collapsible input:checked ~ .collapsible-text {
    height: auto;
    padding: 15px;
    background: #525F34;
    opacity: 1;
}

.collapsible-text p {
    color: #fff;
    font-size: 12px;
}

.arrow {
    margin-left: 48px; 
}


/*different colors for collapsibles*/
.collapsible:nth-child(2) label {
    background: #757F5D; 
}

.collapsible:nth-child(3) label {
    background: #a7b092; 
}

.collapsible:nth-child(2) .collapsible-text {
    background: #757F5D; 
}

.collapsible:nth-child(3) .collapsible-text {
    background: #a7b092;
}

/*PROCCESS PAGE 1*/
.mindmap1{
    width: 170px;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 15px;
}

.postits{
    width: 170px;
    margin-bottom: 55px;
    margin-left: 30px;
}

.HCD{
    width: 190px;
    margin-top: 15px;
    margin-left: 115px;
    margin-bottom: 15px;
}

.mindmap2{
    width: 175px;
    margin-bottom: 75px;
    margin-left: 15px;
}

.motivationposter{
    width: 170px;
    margin-top: 15px;
    margin-left: 30px;
}

.BEYONDbranding{
    width: 390px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.BEYONDfeedback{
    width: 210px;
    margin-top: 15px;
    margin-left: 100px;
    margin-bottom: 25px;
}

.SLAYGENCYbranding{
    width: 390px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.SLAYGENCYposter {
    width: 390px;
    margin-top: -5px;
    margin-left: 10px;
}
.star{
    width: 90px;
    margin-top: 85px;
    margin-left: 20px;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*PROCCESS PAGE 2*/
/*PROCCESS PAGE 3*/
/* Learning Outcomes*/
#learning-outcomes h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Instrument Serif", serif;
    font-size: 30px;
    opacity: 0; /* Starts hidden */
    transform: translateY(50px); /* Starts slightly off-screen */
    transition: opacity 1s ease, transform 1s ease;
}

#learning-outcomes h2 {
    font-size: 18px;
}

#learning-outcomes .LO {
    font-family: 'Bona Nova', serif; 
    font-size: 10px;
    text-align: center;
}

#learning-outcomes .LO-reflection p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #fff;
    border:2px dashed #a7b092;
    background-color: #757F5D;
    padding:10px;
    margin-bottom: 105px;
    text-align: center;
    width:50%;
    margin-left: 300px;
}

#learning-outcomes .evidence-links {
    font-family: "Lexend Exa", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px; 
    margin: 20px 0;
}

#learning-outcomes .evidence-links a:last-child {
    margin-bottom: 10px; 
}

#learning-outcomes .evidence-links a {
    color: #757F5D;
    text-decoration: none;
    font-size: 15px;
    font-family: "Lexend Exa", sans-serif;
}

#learning-outcomes .evidence-links a:hover {
    text-decoration: underline;
}

#learning-outcomes p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 16px;
}

/*Sources Section*/
#sources p {
    font-size: 12px;
    color:#3e3e3e;
    width: 30%; 
    margin: 0 auto; 
    text-align: justify; 
    word-wrap: break-word; /* Break long words if necessary */
}

#sources a {
    display: inline-block; 
    word-wrap: break-word;
    overflow-wrap: break-word; 
    color:#757F5D;
}

/*Footer*/
.contact-footer {
    background-color: #a7b092;
    color: #fff;
    text-align: center;
    padding: 15px;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Instrument Serif", serif;
    font-size: 25px;
}

.contact-footer p {
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.contact-footer a {
    color: #fff;
    text-decoration: none;
    font-family: "Lexend Exa", sans-serif;
    font-size: 12px;
}
.contact-footer a:hover {
    text-decoration: underline;
}